<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ALL AT ONCE - YALE GD'21</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script src="/script.js" defer></script>
    
  </head>  
  <body>   
    <div id="video-container"></div>

    <a id="about">About</a>
    <div id="about-container">
      <p><i>ALL AT ONCE</i><br>Yale School of Art<br>Graphic Design MFA 2021 Thesis Show</p>
      <p>On view April 22–28</p>
      <p>All at once—looking back, tripping forward, standing still. All at once—plugged in, displayed, replayed, looped. All at once—planes, edges corners. All at once—outwards, inwards, downwards, backwards. All at once—far away, close by, in motion. All at once—displaced, misplaced, replaced. All at once—everything, nothing, fleeting. All at once.
</p>
      <p><i>All at Once</i> brings together the work of this year’s graphic design MFA graduating class through a unique merging of the physical and the virtual of our current environment.</p>
      <br><br><br><br><br><br>
      <p>YDG MFA 2021:</p>
      <ul>
        <li>Herdimas Anggara</li>
        <li>Milo Bonacci</li>
        <li>Bianca Ibarlucea</li>
        <li>Furqan Jawed</li>
        <li>Harin Jung</li>
        <li>Jun Jung</li>
        <li>Minhwan Kim</li>
        <li>Nick Massarelli</li>
        <li>Anezka Minarikova</li>
        <li>Luiza Dale</li>
        <li>Ana Lobo</li>
        <li>Mengyi Qian</li>
        <li>Anna Sagström</li>
        <li>Mianwei Wang</li>
      </ul>
      
    </div>
    
    <script>
      const urls = [
        "https://cdn.glitch.com/05eaa61e-b555-434a-9ed1-1f00bdcd2e32%2F01.gif",
        "https://cdn.glitch.com/05eaa61e-b555-434a-9ed1-1f00bdcd2e32%2F02.gif",
        "https://cdn.glitch.com/05eaa61e-b555-434a-9ed1-1f00bdcd2e32%2F03.gif",
        "https://cdn.glitch.com/05eaa61e-b555-434a-9ed1-1f00bdcd2e32%2F04.gif",
        "https://cdn.glitch.com/05eaa61e-b555-434a-9ed1-1f00bdcd2e32%2F06.gif",
        "https://cdn.glitch.com/05eaa61e-b555-434a-9ed1-1f00bdcd2e32%2F07.gif",
        "https://cdn.glitch.com/05eaa61e-b555-434a-9ed1-1f00bdcd2e32%2F09.gif",
        "https://cdn.glitch.com/05eaa61e-b555-434a-9ed1-1f00bdcd2e32%2F10.gif"
      ]
      
      
      const rand = () => {
        return Math.floor(Math.random() * urls.length)
      }
      document.querySelector("#video-container").innerHTML = `<img src=${urls[rand()]} class="gif">`
      
      
    </script>
    
    
  </body>
</html>
