body, * {
  margin: 0;
  padding: 0;
  font-family: 'Arial';
}
body {
  overflow: hidden;
  background-color: black;
  color: white;
}
html {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}
a {
  color: white;
}
i {
  font-style: oblique;
}
ul {
  list-style: none; !important
}



div#gif-container,
div#video-container {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100); /* mobile */
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  z-index: 1;
}
/* 
#video-container > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
 */
#video-container #iframe-container {
  position: absolute;
}
#video-container #activeCamera {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
img.gif {
  width: 100vw;
  height:100vh;
  height: calc(var(--vh, 1vh) * 100); /* mobile */
}



img#caption {
  position: absolute;
  top: 5vh;
  left: 5vw;
  width: 90vw;
  height: 90vh;
  height: calc(var(--vh, 1vh) * 90); /* mobile */
  opacity: 0;
  z-index: 50;
}



nav.cameras {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: white;
  z-index: 99;
}
nav.cameras > label {
  margin-right: 20px;
  color: white;
  cursor: pointer;
}
nav.cameras > input {
  cursor: pointer;
}

nav.messages {
  position: fixed;
  top: 20px;
  left: 0;
  color: white;
  z-index: 99;
  line-height: 1em;
  width: 100vw;
  text-align: left;
}
nav.messages marquee {
  height: 1em;
}
ul#message-list {
  text-align: left;
}
ul#message-list > li {
  margin-bottom: 0.2em;
  display: inline;
  padding-left: 30px;
}



a#about {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  text-decoration: underline;
  cursor: pointer;
  z-index: 99;
}

#about-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: calc(100vh - 50px);
  height: calc(var(--vh, 1vh) * 100 - 50px); /* mobile */
  display: none;
  overflow: scroll;
  z-index: 99;
}

#about-container p,
#about-container ul {
  color: white;
  font-size: 40px;
  line-height: 1.2em;
  padding: 20px;
}
#about-container p#credit,
#about-container p#note {
  font-size: 0.9em;
}

#about-container p#credit {
  padding-bottom: 0px;
}



@media only screen and (min-width: 2281px) {
  #about-container p,
  #about-container ul {
    font-size: 64px;
  }
}
@media only screen and (max-width: 2280px) {
  #about-container p,
  #about-container ul {
    font-size: 56px;
  }
}
@media only screen and (max-width: 2140px) {
  #about-container p,
  #about-container ul {
    font-size: 50px;
  }
}
@media only screen and (max-width: 1920px) {
  #about-container p,
  #about-container ul {
    font-size: 44px;
  }
}
@media only screen and (max-width: 1840px) {
  #about-container p,
  #about-container ul {
    font-size: 40px;
  }
}
@media only screen and (max-width: 1680px) {
  #about-container p,
  #about-container ul {
    font-size: 38px;
  }
}
@media only screen and (max-width: 1440px) {
  #about-container p,
  #about-container ul {
    font-size: 36px;
  }
}
@media only screen and (max-width: 1240px) {
  #about-container p,
  #about-container ul {
    font-size: 34px;
  }
}
@media only screen and (max-width: 1080px) {
  #about-container p,
  #about-container ul {
    font-size: 32px;
  }
}
@media only screen and (max-width: 960px) {
  #about-container p,
  #about-container ul {
    font-size: 30px;
  }
}
@media only screen and (max-width: 840px) {
  #about-container p,
  #about-container ul {
    font-size: 28px;
  }
}
@media only screen and (max-width: 640px) {
  #about-container p,
  #about-container ul {
    font-size: 26px;
  }
}
@media only screen and (max-width: 560px) {
  #about-container p,
  #about-container ul {
    font-size: 24px;
  }
}
@media only screen and (max-width: 480px) {
  #about-container p,
  #about-container ul {
    font-size: 22px;
  }
}
@media only screen and (max-width: 400px) {
  #about-container p,
  #about-container ul {
    font-size: 20px;
  }
}
